<!DOCTYPE html>
<html>
    <head>
        <title>
            Guessing
        </title>

    </head>

    <body>
        <p id="play_time"></p>

        <p id="guessing"></p>
        <p id="info"> _ _ _ _ </p>

        <p id="answer"> _ _ _ _ </p>

        <button id = 'myA'> A </button>
        <button id = 'myB'> B </button>
        <button id = 'myC'> C </button>
        <button id = 'myD'> D </button>

        <button id = 'start'> Start </button>

    </body>
    <script src="Scripts/logic.js"></script>
</html>